@page {
    margin-top: 5mm;
    margin-bottom: 5mm;
    margin-left: 10mm;
    margin-right: 10mm;
}

body {
    font-size: 69%;
    font-family: 'Noto Sans';
    margin: 0;
    /* padding: 10mm; */
    line-height: 1.3;
}

h1 {
    text-align: center;
}

h1,
h2,
h3 {
    margin-top: 0.5em;
    margin-bottom: 0.3em;
}

p,
ul,
ol {
    margin-top: 0.3em;
    margin-bottom: 0.3em;
}

ul,
ol {
    padding-left: 1.2em;
}

li {
    margin-bottom: 0.1em;
}
